h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(148, 148, 148);
    text-align: center;
    text-decoration: underline;
}
h4 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(148, 148, 148);
    text-align: center;
    text-decoration: underline;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    text-align: center;
}

.unidades {
        display: flex;
}

.footer {
    background-color: rgb(195, 195, 195);
    text-align: center;
    height: 120px;
}

.iconos {
    display: flex;
    justify-content: center

}